* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* background-color */
  --header-bg-color: rgb(252, 253, 255);
  --light-bg-color: rgb(238, 234, 234);
  --footer-bg-color: black;

  /* text-color */
  --mute-text-color: rgb(71, 70, 70);
  --nav-text-color: rgb(48, 46, 46);
  --light-text-color: rgb(238, 234, 234);

  /* shadow-color */
  --header-shadow: 0 4px 10px rgb(218, 216, 216);
  --card-shadow: 0 4px 10px rgb(241, 237, 237);

  /*main-color-web*/
  --primary-color: rgb(50, 50, 155);
  --primary-dark-color: rgb(5, 5, 32);
  --secondary-color: rgb(94, 40, 245);
  --red-color: rgb(199, 14, 14);
  --green-color:rgb(7, 153, 7);

}
html {
  scroll-behavior: smooth;
  /* font-size:16px; */
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: linear-gradient(
    135deg,
    rgb(242, 242, 245) 0%,
    white 50%,
    rgb(203, 203, 250) 100%
  );
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
/*================
 header 
 =================*/
.header {
  background-color: rgba(255, 255, 255, 0.904);
  box-shadow: var(--header-shadow);
  position: sticky;
  top: 0;
  z-index: 10;

  backdrop-filter: blur(10px);
}
.header-content {
  text-align: center;
  padding-block: 2rem;
  /* 1rem = 16px */
}
.header-title {
  color: var(--primary-color);
  font-size: clamp(2rem, 5vw, 3rem);
}
.header-subtitle {
  color: var(--mute-text-color);
}
/*================
nav
 =================*/
.category-nav {
  padding-block: 2rem;
  text-align: center;
}
.filter-radio {
  display: inline-block;
  margin: 0 1rem;
}
.category-nav label {
  /* display: flex;
  flex-wrap: wrap; */
  gap: 2rem;
  background-color: var(--light-bg-color);
  border-radius: 2rem;
  color: var(--nav-text-color);
  text-decoration: none;
  margin: 0.3rem;
  padding: 0.6rem 1.2rem;

  cursor: pointer;
  transition:
    tranform 0.2s,
    boxshadow 0.2s;
  display: inline-block;

  user-select: none;
}
nav {
  text-align: center;
  padding-block: 2rem;
}
.category-nav label:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgb(148, 147, 147);
}
.filter-radio {
  /* display: none; */

  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
}
.filter-radio:has(#filter-all:checked) ~ .category-nav label[for="filter-all"],
.filter-radio:has(#filter-dog:checked) ~ .category-nav label[for="filter-dog"],
.filter-radio:has(#filter-cat:checked) ~ .category-nav label[for="filter-cat"],
.filter-radio:has(#filter-brid:checked)
  ~ .category-nav
  label[for="filter-brid"],
.filter-radio:has(#filter-fish:checked)
  ~ .category-nav
  label[for="filter-fish"],
.filter-radio:has(#filter-small:checked)
  ~ .category-nav
  label[for="filter-small"] {
  background-color: var(--secondary-color);
  color: var(--light-text-color);
}

/* ซ่อนแสดดงหัวข้อ หมวดหมู่ */
.category-title {
  display: none;
}
.filter-radio:has(#filter-all:checked) ~ main .title-all,
.filter-radio:has(#filter-dog:checked) ~ main .title-dog,
.filter-radio:has(#filter-cat:checked) ~ main .title-cat,
.filter-radio:has(#filter-brid:checked) ~ main .title-brid,
.filter-radio:has(#filter-fish:checked) ~ main .title-fish,
.filter-radio:has(#filter-small:checked) ~ main .title-small {
  display: inline;
}

.filter-radio:has(#filter-dog:checked)
  ~ main
  .pet-grid
  .pet-card:not(.show-dog),
.filter-radio:has(#filter-cat:checked) ~ main .pet-grid .pet-card:not(.show-cat),
.filter-radio:has(#filter-brid:checked)
  ~ main
  .pet-grid
  .pet-card:not(.show-brid),
.filter-radio:has(#filter-fish:checked)
  ~ main
  .pet-grid
  .pet-card:not(.show-fish),
.filter-radio:has(#filter-small:checked)
  ~ main
  .pet-grid
  .pet-card:not(.pet-card:not(.show-small-pet)) {
  display: none;
}

/*================
main
 =================*/
.page-title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}
.pet-grid {
  display: grid;
  /* grid-template-columns: repeat(4,1fr) ; */
  gap: 1rem;

  grid-template-columns: repeat(auto-fit,minmax(min(100%,300px),1fr));
}

.pet-card {
  margin: 20px;
  background-color: var(--light-bg-color);
  box-shadow: var(--card-shadow);
  padding: 0 0 20px 0;
  border-radius: 0.75rem;
  overflow: hidden;
  display: block;
  transition: tranform 0.25s;
}

.pet-card:hover {
  transform: translateY(-5px);
}
.pet-card img {
  width: 100%;
  height: 16.25rem;
  object-fit: cover;
}

.pet-content {
  padding: 1.25rem;
}

.pet-content h2 {
  color: var(--primary-color);
}
.breed {
  color: var(--mute-text-color);
}
/* รายละเอียดเพิ่มเติม */
.pet-info {
  list-style: none;
}
.info-lifespan {
  color: var(--primary-color);
}
.info-size {
  color: var(--red-color);
}
.info-temperament {
  color:var(--green-color)
}


.pet-btn{
  background-color: var(--primary-color);

  color: var(--light-text-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
  cursor: pointer;
  margin-block: 1rem;
 
}
.pet-btn:hover{
  background-color:blue;
  transform: translateY(-10px);
  transition: 1s;
}


.pet-details[open]
  .show-detail{
    display: none;
  }
  .pet-details[open]
  .hide-detail{
    display: inline;
  }
  .hide-detail{
    display: none;
  }
.pet-details summary{
  list-style-type:none;
}
.pet-details[open]
.text-open
{display: none;}
.pet-details[open]
.text-close
{display: inline;}
.text-close{
  display: none;
}



/* Detail body */
.pet-details-body{
  border-top: solid 1px gray;
  padding-top: 1rem;

  animation: appear 1s ease-out;
}

@keyframes appear{
  from{opacity: 0;transform: translateY(-300px);}
  to{opacity: 1;transform: translateY(0px);}
}
/* =================
 Advice
 ================= */
.advice h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.advice {
  background-color: var(--light-bg-color);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 1165px;
  margin: 0 auto;
}

.advice-setion {
  /* display: flex;
  flex-direction: 1fr 1fr 1fr 1fr; */
  gap: 1rem;
  box-shadow: var(--card-shadow);
  display: grid;
  /* grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  */

  grid-template-columns: repeat(auto-fit,minmax(min(100%,250px),1fr));
}

.c1 {
  background-color: rgb(163, 188, 255);
  border-radius: 1rem;
  padding: 1rem;
}
.c2 {
  background-color: rgb(219, 153, 228);
  border-radius: 1rem;
  padding: 1rem;
}
.c3 {
  background-color: rgb(148, 243, 185);
  border-radius: 1rem;
  padding: 1rem;
}
.c4 {
  background-color: rgb(243, 226, 150);
  border-radius: 1rem;
  padding: 1rem;
}

.c1 h3 {
  color: rgb(44, 44, 204);
  font-size: 1.15rem;
  line-height: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.c2 h3 {
  color: rgb(131, 9, 131);
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.c3 h3 {
  color: rgb(11, 119, 11);
  font-size: 1.15rem;
  line-height: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.c4 h3 {
  color: rgb(156, 111, 13);
  font-size: 1.15rem;
  line-height: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* ===========
    Table
    ========= */
  .pet-table{
    border-collapse: collapse;
    background-color: rgb(237, 252, 252);
    margin-top: 2rem;
    width: 100%;
    table-layout: fixed;

  }
  .pet-table th,
   .pet-table td{
    border: 1px solid rgb(5, 5, 5);
    padding: 1rem;
    vertical-align: top;
    overflow-wrap: break-word;
   }
   .pet-table caption{
    padding: 0.75rem;
    font-size: 20px;
    font-weight: bold;

   }
   th{
    overflow-wrap: break-word;
   }
   thead{
    background-color: rgb(58, 125, 226);
   }
   tbody th{
    background-color: rgb(236, 240, 213);
    white-space: nowrap;
    color: var(--nav-text-color);
    text-align: left;

   }
  .pet-table th:nth-child(1){width: 100px;}
  .pet-table th:nth-child(2){width: 200px;}
  .pet-table th:nth-child(3){width: 150px;}
  .pet-table th:nth-child(4){width: 200px;}
  .pet-table th:nth-child(5){width: 100px;}
    
  .guide-note{
    border-left:solid 3px blue;
    margin-top: 1rem;
    padding: 10px;
  }
  tbody tr:nth-child(even){
    background-color: aliceblue;
  }
   tbody tr:hover{
    background-color: rgb(164, 165, 167);
  }
/* ===========
       Form
  ========= */
.Form {
  background-color: var(--light-bg-color);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 1165px;
  margin: 0 auto;
  margin-top: 20px;
}
.Top h1 {
  text-align: center;
  color: var(--primary-color);
}

.Top p {
  text-align: center;
  color: var(--mute-text-color);
}
form fieldset {
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.option {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
form legend {
  color: blue;
  font-size: 1.5rem;
}
.radio-item {
  background-color: gray;
  color: var(--light-text-color);
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s;
}

.radio-item label {
  cursor: pointer;
}

.radio-item:has(input:checked) {
  background-color: var(--primary-color);
  color: var(--light-text-color);
}
.radio-item input {
  accent-color: blue;
}
/* input {
  background-color: rgb(107, 198, 250);
  padding: 20px;
  border-radius: 5px;
} */
/*================
 header footer
  =================*/
footer {
  background-color: var(--footer-bg-color);
  color: var(--light-text-color);
  text-align: center;
  padding: 1rem;
  margin-top: 1.5rem;
}

/* ===================
    Reponsive
    ================= */

  @media (max-width:992px) {
    .pet-grid {
      
      /* grid-template-columns: repeat(3,1fr) ;
      margin: 0 50px; */
      
      }
    .category-nav label{
      display: block;
      margin: 0.6rem 1rem;
      border-radius: 10px;
    }

  }
  
  @media (max-width:768px) {
     .pet-grid {
/*       
      grid-template-columns: 1fr ;
      margin: 0 50px; */

      }

  }